<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSEnvironment</key>
	<dict/>
	<key>AnthropicAPIKey</key>
	<string>$(ANTHROPIC_API_KEY)</string>
	<key>AnthropicModel</key>
	<string>$(ANTHROPIC_MODEL)</string>
	<key>AnthropicMaxTokens</key>
	<string>$(ANTHROPIC_MAX_TOKENS)</string>
</dict>
</plist>
